fieldset:not([data-testid="field-bodyContent"]) [data-testid="pt-editor"][data-fullscreen="false"] {
	height: 7lh;
}

/** fieldset[data-testid="field-lookContent"] */ span[data-testid="Media"] span[data-border="true"] {
	box-shadow: none !important;
}

#desc_isHiddenFromListings {
	margin-block-end: 0.275rem;
}